@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }

}

.slide-in {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}


.slide-out {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.scrollbar::-webkit-scrollbar{
    display: none;
}